.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    /* Subtract header height */
    overflow: hidden;
}

.gallerySection {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    /* Subtract header height */
    overflow: hidden;
}

.gallerySection {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.infoSection {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: calc(100vh - 80px);
        /* Fixed height on mobile */
        overflow: hidden;
    }

    .gallerySection {
        width: 100%;
        height: 55%;
        overflow-y: auto;
        border-bottom: 0.5px solid #000;
    }

    .infoSection {
        width: 100%;
        height: 45%;
        overflow-y: auto;
    }
}