.galleryContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-right: 0.5px solid #000;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galleryContainer::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galleryContainer::-webkit-scrollbar {
    display: none;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Each image takes full viewport height */
    border-bottom: 0.5px solid #000;
}

.image {
    object-fit: cover;
}

@media (max-width: 768px) {
    .galleryContainer {
        height: 100%;
        /* Take full height of parent (55%) */
        border-right: none;
        border-bottom: 0.5px solid #000;
        scroll-snap-type: y mandatory;
    }

    .imageWrapper {
        height: 100%;
        /* Each image takes full height of container */
        scroll-snap-align: start;
    }
}